[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/jssjr/git.git
[submodule "cookbooks/nodejs"]
	path = cookbooks/nodejs
	url = https://github.com/redguide/nodejs.git
[submodule "cookbooks/chef-rvm"]
	path = cookbooks/chef-rvm
	url = https://github.com/fnichol/chef-rvm.git
[submodule "cookbooks/python"]
	path = cookbooks/python
	url = https://github.com/poise/python.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/chef_gem"]
	path = cookbooks/chef_gem
	url = https://github.com/hw-cookbooks/chef_gem.git
